@import "../Styles/variables.less";

.container {
  ._container;
  top: 0;
  .moveToBottom;
}
.containerRow {
  ._containerRow;
}
.containerCell {
  ._containerCell;
}
.containerLeft {
  ._containerLeft;
}
.containerRight {
  ._containerRight;
}
.animateToTop {
  transition: top .7s, opacity .2s;
  top: -2000px;
  opacity: 0;
}
.moveToBottom {
  transition: none;
  top: 1000px;
  opacity: 0;
}
.animateFromBottom {
  transition: top .3s, opacity .2s ease-out .1s;
  top: 0;
  opacity: 1;
}
