@import "../Styles/variables.less";

.h1 {
  ._h3;
  position: relative;
  color: #F9B185;
  margin: 0 0 15px;
}
.p {
  ._p;
}

.matrix {
  margin: 0 0 55px;
  ._clearfix;
  .p {
    margin: 0 0 55px;
  }
}
.next {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  ._clearfix;
  .h1 {
    margin: 0 0 45px;
  }
}
.left {
  width: 335px;
  float: left;
  p {
    line-height: 40px;
    margin: 0 0 20px;
  }
}
.center {
  width: 205px;
  float: left;
  margin: 0 0 0 70px;
  p {
    line-height: 40px;
    margin: 0 0 20px;
  }
}
.right {
  width: 240px;
  float: left;
  margin:  0 0 0 80px;
  .a {
    ._a;
  }
}
.social {
  margin: 24px 0 120px 0;
  overflow: hidden;
  li {
    display: block;
    float: left;
    margin: 0 0 0 25px;
    &:first-child { margin: 0; }
  }
}
// .article {
//   display: block;
//   border: 1px solid rgba(255, 255, 255, .3);
//   background: rgba(255, 255, 255, .1);
//   text-decoration: none;
//   overflow: hidden;
//   padding: 14px 0;
//   border-radius: 2px;
//   &:hover {
//     background: rgba(255, 255, 255, .15);
//   }
//   .articleData {
//     margin: 0 0 0 67px;
//   }
//   .articleTitle {
//     ._big;
//   }
//   .articleDescription {
//     ._little;
//   }
// }
.transparentButton {
  ._transparentButton;
  display: block;
  padding-right: 25px;
  i {
    margin-right: 15px;
  }
}


.footer {
  padding: 70px 0 0 0;
  ._clearfix;
  ._proxima_light;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
.license {
  float: left;
  width: 460px;
  em {
    color: #F7AF84;
  }
}
.git {
  float: left;
}
.copyright {
  float: right;
}

.oh {
  line-height: 17px * 2;
  white-space: nowrap;
}
.dh {
  line-height: 17px;
}

a {
  color: #F7AF84;
  text-decoration: underline;
  &:hover {text-decoration: none;}
}
