@import "../Styles/variables.less";

@i: './components/Styles/icons/';

.h1 {
  ._h3;
  position: relative;
  color: #F9B185;
  margin: 0 0 15px;
  @media only screen and (max-width: 1000px) {
    ._h4;
    position: relative;
    color: #F9B185;
    margin: 0 0 15px;
  }
}

.p {
  ._p;
}

.matrix {
  margin: 0 0 55px;
  ._clearfix;

  .p {
    margin: 0 0 55px;
  }
}

.next {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  ._clearfix;

  .h1 {
    margin: 0 0 45px;
    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }
}

.subscribe {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  ._clearfix;
}

.subscribeTitle {
  padding: 53px 0;
  background: url("@{i}subscribe_form.svg") no-repeat top left;
  .center;
}

.subscribeForm {
  float: left;
  margin-left: 100px;
  padding: 53px 0;
}

.subscribeInput {
  width: 233px;
  height: 50px;
  .transparentInput;
  background-color: rgba(255, 255, 255, .05);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: default;

  &:hover {
    background-color: rgba(255, 255, 255, .05);
  }

  &.error {
    border-color: #C27164;
  }
}

.subscribeBtn {
  .transparentButton;
  display: inline-block;
  position: relative;
  top: 1px;
  left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.feedback {
  float: left;
  width: 195px;
  margin: 0 0 0 30px;
  @media only screen and (max-width: 1000px) {
    display: none;
  }
  p {
    line-height: 20px;
    margin: 0 0 20px;
  }
}
.left {
  width: 335px;
  float: left;
  p {
    line-height: 40px;
    margin: 0 0 20px;
  }
}

.center {
  width: 225px;
  float: left;
  margin: 0 0 0 210px;

  @media only screen and (max-width: 1000px) {
    display: none;
  }

  p {
    line-height: 40px;
    margin: 0 0 20px;
  }
}

.right {
  width: 240px;
  float: right;

  @media only screen and (max-width: 1000px) {
    float: none;
    width: auto;
    width: 250px;
  }

  .a {
    ._a;
  }
}

.social {
  margin: 24px 0 60px 0;
  overflow: hidden;
  @media only screen and (max-width: 1000px) {
    margin: 24px 0;
  }
  li {
    display: block;
    float: left;
    margin: 0 0 0 25px;
    &:first-child { margin: 0; }
  }
}

.transparentButton {
  ._transparentButton;
  display: block;
  padding-right: 25px;
  i {
    margin-right: 15px;
  }
}

.transparentInput {
  ._transparentButton;
}

.footer {
  padding: 70px 0 0 0;
  ._clearfix;
  ._proxima_light;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  @media only screen and (max-width: 1000px) {
    padding: 15px 0 0 0;
  }
}

.license {
  float: left;
  width: 460px;

  em {
    color: #F7AF84;
  }

  @media only screen and (max-width: 1000px) {
    display: none;
  }
}

.git {
  float: left;
  margin: 0 0 0 60px;

  @media only screen and (max-width: 1000px) {
    display: none;
  }
}

.copyright {
  float: right;

  @media only screen and (max-width: 1000px) {
    float: none;
  }
}

.oh {
  line-height: 17px * 2;
  white-space: nowrap;
}

.dh {
  line-height: 17px;
}

a {
  color: #F7AF84;
  text-decoration: underline;
  &:hover {text-decoration: none;}
}
