@import "../Styles/variables.less";

.welcome {
  height: 100%;
  ._diagonal_gradiend(#374344, #28393e);
}
.container {
  ._container;
}
.containerRow {
  ._containerRow;
}
.containerCell {
  ._containerCell;
}
.containerLeft {
  ._containerLeft;
}
.containerRight {
  ._containerRight;
}
.h1 {
  ._h1;
  margin: 0 0 5px;
}
.company {
  margin: 0 0 45px;
}
.a {
  ._a;
}
.p {
  ._big;
  margin: 0 0 25px;
}
.button {
  ._button;
}
