@import "../Styles/variables.less";

.h2 {
  ._h2;
  margin: 0 0 20px;
}
.p {
  ._p;
}
.info {
  ._p;
  border-top: 1px solid rgba(255, 255, 255, .2);
  padding: 20px 0 0 0;
  margin: 20px 0 0 0;
  font-style: italic;
}
.numbers {
  position: absolute;
  right: @leftWidth + 80;
  white-space: nowrap;
  ._p;
  line-height: 29px;
  font-style: italic;
  &:before {
    width: 7px;
    height: 7px;
    position: absolute;
    right: -45px;
    border-radius: 10px;
    top: 50%;
    margin: -3.5px 0 0 0;
    content: ' ';
    background: #b6e1bc;
  }
}
.firstOfType {
  position: fixed;
  top: 50px;
  ._h3;
}
