@import "../Styles/variables.less";

.h2 {
  ._h2;
  margin: 0 0 20px;
}
.p {
  ._p;
}
.info {
  ._p;
  border-top: 1px solid rgba(255, 255, 255, .2);
  padding: 20px 0 0 0;
  margin: 20px 0 0 0;
  font-style: italic;
}
.numbers {
  position: absolute;
  right: @leftWidth + 80;
  white-space: nowrap;
  ._p;
  line-height: 29px;
  font-style: italic;
  b {
    width: 7px;
    height: 7px;
    position: absolute;
    right: -45px;
    border-radius: 10px;
    top: 50%;
    margin: -3.5px 0 0 0;
    background: #b6e1bc;
  }
  @media only screen and (max-width: 1000px) {
    right: auto;
    left: 0;
    font-size: 12px;
    width: 40px;
    text-align: center;
    b {display: none;}
  }
}
.firstOfType {
  position: fixed;
  top: 50px;
  ._proxima_light;
  font-size: 30px;
  line-height: 38px;
  color: #97D4B4;
  @media only screen and (max-width: 1000px) {
    position: relative;
    top: auto;
    margin: 0 0 15px;
  }
}
.back {
  position: absolute;
  top: -49px;
  left: 0;
  cursor: pointer;
  transition: opacity .3s;
  width: 100%;
  text-align: center;
  &:hover { opacity: .8; }
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}
.next {
  position: absolute;
  top: 49px + 19px / 2;
  left: 0;
  cursor: pointer;
  transition: opacity .3s;
  width: 100%;
  text-align: center;
  &:hover { opacity: .8; }
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}
.nextPassive {
  opacity: .1;
  cursor: auto;
  &:hover {opacity: .1;}
}
