@import "../Styles/variables.less";

.wrapper {
  height: auto;
  min-height: 100%;
  position: relative;
  @media only screen and (max-width: 1000px) {
    min-height: auto;
    height: 100%;
    overflow: hidden;
  }
}
.container {
  height: auto;
  @media only screen and (max-width: 1000px) {
    ._container;
    top: 0;
    width: 100%;
  }
}
.containerRow {
  height: auto;
  @media only screen and (max-width: 1000px) {
    ._containerRow;
  }
}
.containerCell {
  @media only screen and (max-width: 1000px) {
    ._containerCell;
  }
}
.containerAll {
  ._containerAll;
  position: relative;
  padding: 150px 0 50px 0;
  top: 0;
  .moveToBottom;
  @media only screen and (max-width: 1000px) {
    width: 100%;
    float: none;
    max-height: 100%;
    overflow-y: auto;
    padding: 30px 40px;
  }
}

// Line
.line {
  position: fixed;
  left: 50%;
  width: 1px;
  top: 0;
  bottom: 0;
  background: #8BCFB1;
  margin: 0 0 0 -940px/2 - 39px;
  opacity: 0;
  transition: top .3s, bottom .3s, background .4s;
}
.activeLine {
  transition: opacity .5s, top .3s, bottom .3s, background .3s;
  opacity: 1;
}
.htol {
  top: 94px + 50;
}
.hbol {
  bottom: 139px;
}


// Animations
.animateToTop {
  transition: top .7s, opacity .2s;
  top: -1000px;
  opacity: 0;
}
.animateToBottom {
  transition: top .7s, opacity .2s;
  top: 1000px;
  opacity: 0;
}
.moveToBottom {
  transition: none;
  top: 1000px;
  opacity: 0;
}
.moveToTop {
  transition: none;
  top: -1000px;
  opacity: 0;
}
.animateFromBottom {
  transition: top .3s ease-in, opacity .2s ease-in .1s;
  top: 0;
  opacity: 1;
}
.animateFromTop {
  transition: top .3s linear, opacity .1s ease-out .2s;
  top: 0;
  opacity: 1;
}


// Backgrounds
.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: background 10s;
}
.cresults {
  background: linear-gradient(135deg, #FCAF82 0%, #F47D7C 20%, #A83270 58%, #610E5F 78%, #2C064A 100%);
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(24, 28, 39, .6);
  }
}
