@i: './components/Styles/icons/';

.go {
  display: inline-block;
  width: 14px;
  height: 20px;
  vertical-align: -5px;
  background: url("@{i}go.svg") no-repeat center;
}
.main {
  display: block;
  // float: right;
  position: absolute;
  top: 50%;
  right: 0;
  margin: -316px/2 0 0 0;
  width: 281px;
  height: 316px;
  background: url("@{i}main.svg") no-repeat center;
}

.yes, .yesActive {
  display: inline-block;
  width: 18px;
  height: 14px;
  vertical-align: -2px;
}
.yes { background: url("@{i}yes.svg") no-repeat center; }
.yesActive { background: url("@{i}yesActive.svg") no-repeat center; }
.no, .noActive {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: -2px;
}
.no { background: url("@{i}no.svg") no-repeat center; }
.noActive { background: url("@{i}noActive.svg") no-repeat center; }

.info {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: -1px;
  margin: 0 8px 0 0;
  background: url("@{i}info.svg") no-repeat center;
}
.top {
  display: block;
  width: 14px;
  height: 19px;
  position: absolute;
  top: 39px + 9px;
  left: 50%;
  margin: 0 0 0 -7px;
  background: url("@{i}top.svg") no-repeat center;
}
.idea {
  background: url("@{i}idea.png") no-repeat center;
}
.hip {
  background: url("@{i}hip.png") no-repeat center;
}
.eco {
  background: url("@{i}eco.png") no-repeat center;
}
.results {
  background: url("@{i}results.png") no-repeat center;
}
.next {
  background: url("@{i}next.png") no-repeat center;
}
.idea, .hip, .eco, .results, .next {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: (50px - 44px) / -2;
  left: -15px - 50px;
}

.back {
  display: block;
  width: 32px;
  height: 46px;
  background: url("@{i}back.svg") no-repeat center;
  margin: 0 auto;
}
.topstr {
  display: inline-block;
  width: 14px;
  height: 19px;
  background: url("@{i}topstr.png") no-repeat center;
}
.botstr {
  display: inline-block;
  width: 14px;
  height: 19px;
  background: url("@{i}botstr.png") no-repeat center;
}

.vk, .tw, .fb {
  width: 42px;
  height: 42px;
  display: block;
  // float: left;
}
.vk {
  background: url("@{i}vk.png") no-repeat center;
}
.tw {
  background: url("@{i}tw.png") no-repeat center;
}
.fb {
  background: url("@{i}fb.png") no-repeat center;
}
.matrix {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  margin: 3px 0 3px 18px;
  background: url("@{i}matrix.png") no-repeat center;
}
.matrix1 {
  width: 19px;
  height: 19px;
  display: inline-block;
  // margin: 3px 0 3px 18px;
  margin: 0 0 0 18px;
  vertical-align: -4px;
  background: url("@{i}matrix1.png") no-repeat center;
}

.repeat {
  display: inline-block;
  width: 16px;
  height: 18px;
  vertical-align: -2px;
  background: url("@{i}repeat.png") no-repeat center;
}

.dev, .guru, .len, .settings {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 50%;
  margin: -50px/2 0 0 0;
  left: -67px;
}
.dev {
  background: url("@{i}dev.png") no-repeat center;
}
.guru {
  background: url("@{i}guru.png") no-repeat center;
}
.len {
  background: url("@{i}len.png") no-repeat center;
}
.settings {
  background: url("@{i}settings.png") no-repeat center;
}

.warningWhite {
  width: 29px;
  height: 26px;
  display: block;
  position: absolute;
  background: url("@{i}warningWhite.png") no-repeat center;
  left: -27px - 23px;
}

.remove {
  display: block;
  width: 16px;
  height: 21px;
  background: url("@{i}remove.png") no-repeat center;
  margin: 0 0 -4px;
}


.cc {
  display: block;
  width: 88px;
  height: 31px;
  background: url("@{i}cc.png") no-repeat center;
  float: left;
  margin: 0 13px 0 0;
}
.git {
  display: block;
  float: left;
  width: 31px;
  height: 30px;
  background: url("@{i}git.png") no-repeat center;
  margin: 0 13px 0 0;
}

.feedback {
  width: 17px;
  height: 15px;
  vertical-align: -2px;
  display: inline-block;
  background: url("@{i}feedback.png") no-repeat center;
}
.email {
  display: block;
  width: 24px;
  height: 23px;
  background: url("@{i}email.png") no-repeat center;
}
