@i: './components/Styles/icons/';

.go {
  display: inline-block;
  width: 14px;
  height: 20px;
  vertical-align: -5px;
  background: url("@{i}go.svg") no-repeat center;
}
.main {
  display: block;
  float: right;
  width: 281px;
  height: 316px;
  background: url("@{i}main.svg") no-repeat center;
}
.yes {
  display: inline-block;
  width: 18px;
  height: 14px;
  vertical-align: -2px;
  background: url("@{i}yes.svg") no-repeat center;
}
.no {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: -2px;
  background: url("@{i}no.svg") no-repeat center;
}
