@i: './components/Styles/icons/';

.go {
  display: inline-block;
  width: 14px;
  height: 20px;
  vertical-align: -5px;
  background: url("@{i}go.svg") no-repeat center;
}
.main {
  display: block;
  // float: right;
  position: absolute;
  top: 50%;
  right: 0;
  margin: -316px/2 0 0 0;
  width: 281px;
  height: 316px;
  background: url("@{i}main.svg") no-repeat center;
}

.yes, .yesActive {
  display: inline-block;
  width: 18px;
  height: 14px;
  vertical-align: -2px;
}
.yes { background: url("@{i}yes.svg") no-repeat center; }
.yesActive { background: url("@{i}yesActive.svg") no-repeat center; }
.no, .noActive {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: -2px;
}
.no { background: url("@{i}no.svg") no-repeat center; }
.noActive { background: url("@{i}noActive.svg") no-repeat center; }

.info {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: -1px;
  margin: 0 8px 0 0;
  background: url("@{i}info.svg") no-repeat center;
}
.top {
  display: block;
  width: 14px;
  height: 19px;
  position: absolute;
  top: 39px + 9px;
  left: 50%;
  margin: 0 0 0 -7px;
  background: url("@{i}top.svg") no-repeat center;
}
.idea {
  background: url("@{i}idea.png") no-repeat center;
}
.hip {
  background: url("@{i}hip.png") no-repeat center;
}
.eco {
  background: url("@{i}eco.png") no-repeat center;
}
.idea, .hip, .eco {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: (50px - 44px) / -2;
  left: -15px - 50px;
}
