@import "../Styles/variables.less";

.question {
  height: 100%;
  transition: background .3s;
  overflow: hidden;
}

.c0  { ._diagonal_gradiend(#2f4041, #1f2f39); }
.c1  { ._diagonal_gradiend(#273a3f, #1d2735); }
.c2  { ._diagonal_gradiend(#1f303a, #19232f); }
.c3  { ._diagonal_gradiend(#422c37, #392536); }
.c4  { ._diagonal_gradiend(#3f2936, #352235); }
.c5  { ._diagonal_gradiend(#3a2536, #321e35); }
.c6  { ._diagonal_gradiend(#2b4249, #293945); }
.c7  { ._diagonal_gradiend(#2a3e47, #263442); }
.c8  { ._diagonal_gradiend(#293a45, #253040); }
.c9 { ._diagonal_gradiend(#273542, #242b3e); }
.c10 { ._diagonal_gradiend(#253041, #22263d); }
.c11 { ._diagonal_gradiend(#242b3f, #21223b); }
