@import "../Styles/variables.less";

@i: './components/Styles/icons/';

.matrix {
  background: rgba(24, 28, 39, .2);
  float: right;
  position: relative;
  margin: 0 -76px 0 0;
}
.column {
  float: left;
  width: 199px;
  border-right: 1px solid rgba(247, 175, 132, .2);
  transition: all .3s;
  &:hover {
    background: rgba(24, 28, 39, .4);
    .label,
    .summary {
      background: #fff;
      position: relative;
      box-shadow: 0 2px 3px rgba(24, 28, 39, .17);
    }
  }
  &:first-child {
    .label,
    .summary { margin-left: -7px; border-radius: 2px 0 0 2px; padding: 0 20px 0 27px; }
  }
  &:last-child {
    border: none;
    .label,
    .summary { margin-right: -7px; border-radius: 0 2px 2px 0; padding: 0 27px 0 20px; }
  }
}
.label {
  ._big;
  ._proxima_regular;
  height: 52px;
  line-height: 52px;
  color: #181c27;
  background: #EBEBEB;
  text-align: center;
  margin: 0 0 20px;
  margin-right: -1px;
  border-right: 1px solid #EDDFD7;
  transition: all .3s;
}
.blocks {

}
.block {
  position: relative;
}
.blockLabel {
  ._p;
  padding: 0 25px 0 25px;
  color: #F9B185;
  margin: 0 0 23px;
}
.elems {
  padding: 0 25px 100px;
  font-size: 14px;
  color: #fff;
  line-height: 17px;
}
.elem {
  margin: 0 0 17px;
  .fade;
  &:last-child {margin: 0;}
}
.summaryElem {
  display: inline-block;
  color: rgba(24, 28, 39, .4);
  &:after {
    content: ', ';
    margin-right: 4px;
  }
  &:last-child:after {
    content: '';
    margin: 0;
  }
  &.ok {
    color: rgba(24, 28, 39, .4);
    &:before {display: none;}
  }
  &.error {
    color: rgba(24, 28, 39, .8);
    &:before {
      display: inline-block;
      position: relative;
      top: auto;
      left: auto;
      margin: 0 4px 0 0;
    }
  }
}
.after {
  ._proxima_regular;
  position: absolute;
  bottom: 25px;
  background: #F7AF84;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #181C27;
  margin: -85px 0 0 20px;
  text-align: center;
  width: 760px;
  border-radius: 2px;
  box-shadow: 0 6px 6px rgba(24, 28, 39, .2);
  pointer-events: none;
  &.ok {
    color: #181C27;
    position: absolute;
    &:before {display: none;}
  }
  &.error {
    background: #764B4D;
    box-shadow: 0 3px 3px rgba(24, 28, 39, .1);
    color: inherit;
    position: absolute;
    &:before {
      top: auto;
      left: auto;
      margin: 20px 0 0 -15px;
    }
  }
}
.summary {
  background: #fff;
  margin-right: -1px;
  border-right: 1px solid #EDDFD7;
  padding: 0 25px;
  transition: all .3s;
}
.summaryLabel {
  padding: 25px 0 15px 0;
  ._big;
  ._proxima_regular;
  color: #181c27;
}
.summaryLabelWarning {
  position: relative;
  &:before {
    content: ' ';
    position: absolute;
    width: 15px;
    height: 14px;
    margin-top: 2px;
    left: -14px - 4px;
    background: url("@{i}warning.png") no-repeat center;
  }
}
.summaryContent {
  ._proxima_light;
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 24px;
  color: rgba(24, 28, 39, .7);
}
.left {
  position: absolute;
  width: 180px;
  // pointer-events: none;
  margin: 0 0 0 -215px;
}
.leftLabel {
  position: relative;
  ._h4;
  margin: 0 0 32px;
}

.progressWrap {

}
.progressCaption {
  float: left;
  ._proxima_light;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.progressPercent {
  float: right;
  ._h4;
}
.progressTop {
  ._clearfix;
}
.progress {
  clear: both;
  margin: 10px 0 20px;
  height: 4px;
  background: #181C27;
  border-radius: 100px;
}
.progressActive {
  height: 4px;
  background: #F9B185;
  border-radius: 100px;
}
.progressP {
  ._proxima_light;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, .7);
}

// Elem statuses
.ok {
  color: rgba(255, 255, 255, .2);
  position: relative;
  &:before {
    position: absolute;
    content: ' ';
    width: 12px;
    height: 9px;
    left: -12px - 5px;
    top: 4px;
    background: url("@{i}ok.png") no-repeat center;
  }
}
.error {
  position: relative;
  color: #fff;
  &:before {
    top: 4px;
    position: absolute;
    content: ' ';
    width: 9px;
    height: 9px;
    left: -9px - 7px;
    background: url("@{i}error.png") no-repeat center;
  }
}
.fade {
  color: rgba(255, 255, 255, .2);
}

.transparentButton {
  ._transparentButton;
  display: block;
  padding-right: 25px;
  font-size: 14px;
  line-height: 17px;
  padding: 7px 10px 0;
  margin: 20px 0 0 0;
  i {
    float: left;
    margin: 0;
  }
  span {
    display: block;
    margin: 0 0 0 28px;
  }
}
