.matrix {
  background: rgba(24, 28, 39, .2);
  float: right;
  position: relative;
}
.column {
  float: left;
  width: 199px;
  border-right: 1px solid rgba(247, 175, 132, .2);
  transition: all .3s;
  &:hover {
    background: rgba(24, 28, 39, .4);
    .label,
    .summary {
      background: #fff;
      position: relative;
      box-shadow: 0 2px 3px rgba(24, 28, 39, .17);
    }
  }
  &:first-child {
    .label,
    .summary { margin-left: -7px; border-radius: 2px 0 0 2px; padding: 0 20px 0 27px; }
  }
  &:last-child {
    border: none;
    .label,
    .summary { margin-right: -7px; border-radius: 0 2px 2px 0; padding: 0 27px 0 20px; }
  }
}
.label {
  height: 52px;
  line-height: 52px;
  font-size: 18px;
  color: #181C27;
  background: #EBEBEB;
  text-align: center;
  margin: 0 0 17px;
  margin-right: -1px;
  border-right: 1px solid #EDDFD7;
  transition: all .3s;
}
.blocks {

}
.block {
  position: relative;
}
.blockLabel {
  padding: 0 20px 0 20px;
  font-size: 16px;
  line-height: 20px;
  color: #F9B185;
  margin: 0 0 23px;
}
.elems {
  padding: 0 20px 120px;
  font-size: 14px;
  color: #fff;
  line-height: 17px;
}
.elem {
  margin: 0 0 17px;
  &:last-child {margin: 0;}
}
.after {
  position: absolute;
  bottom: 35px;
  background: #F7AF84;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #181C27;
  margin: -85px 0 0 20px;
  text-align: center;
  width: 760px;
  border-radius: 2px;
  box-shadow: 0 6px 6px rgba(24, 28, 39, .2);
  pointer-events: none;
}
.summary {
  background: #d6d0d7;
  margin-right: -1px;
  border-right: 1px solid #EDDFD7;
  color: #181C27;
  padding: 0 20px;
  transition: all .3s;
}
.summaryLabel {
  padding: 25px 0 15px 0;
  font-size: 18px;
  line-height: 22px;
}
.summaryContent {
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 24px;
}

/*
.b_market_table {
  position: relative;
  float: right;
  background: rgba(24, 28, 39, .2);
  ._clearfix;
  &_wrap {
    overflow: hidden;
    width: 1102px;
    margin: 0 auto;
    padding: 0 10px 0 0;
  }
  &_col {
    float: left;
    width: 199px;
    border-right: 1px solid rgba(247, 175, 132, .2);
    transition: all .3s;
    &:hover {
      background: rgba(24, 28, 39, .4);
      .b_market_table_white_label, .b_market_table_summary {
        background: #fff;
        position: relative;
        box-shadow: 0 2px 3px rgba(24, 28, 39, .17);
      }
    }
    &:first-child {
      .b_market_table_white_label, .b_market_table_summary { margin-left: -7px; border-radius: 2px 0 0 2px; padding: 0 20px 0 27px; }
    }
    &:last-child {
      border: none;
      .b_market_table_white_label, .b_market_table_summary { margin-right: -7px; border-radius: 0 2px 2px 0; padding: 0 27px 0 20px; }
    }
  }
  &_white_label {
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    color: #181C27;
    background: #EBEBEB;
    text-align: center;
    margin: 0 0 17px;
    margin-right: -1px;
    border-right: 1px solid #EDDFD7;
    transition: all .3s;
  }
  &_subsummary {
    position: absolute;
    background: #F7AF84;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #181C27;
    margin: -85px 0 0 20px;
    text-align: center;
    width: 760px;
    border-radius: 2px;
    box-shadow: 0 6px 6px rgba(24, 28, 39, .2);
    pointer-events: none;
  }
  &_summary {
    background: #d6d0d7;
    margin-right: -1px;
    border-right: 1px solid #EDDFD7;
    color: #181C27;
    padding: 0 20px;
    transition: all .3s;
    &_label {
      padding: 25px 0 15px 0;
      font-size: 18px;
      line-height: 22px;
    }
    p {
      font-size: 14px;
      line-height: 17px;
      padding: 0 0 24px;
      ._proxima_light;
    }
  }
  &_title {
    padding: 0 20px 0 20px;
    font-size: 16px;
    line-height: 20px;
    color: #F9B185;
    margin: 0 0 23px;
  }
  &_content {
    padding: 0 20px 120px;
    font-size: 14px;
    color: #fff;
    line-height: 17px;
    ._proxima_light;
    p {
      margin: 0 0 17px;
      &:last-child {margin: 0;}
    }
  }
  &_left {
    position: absolute;
    width: 190px;
    pointer-events: none;
    margin: 0 0 0 -225px;
    &.__mt {
      margin-top: -40px;
    }
    i {
      display: block;
      position: absolute;
      right: 210px;
      &.meditationGuruWhite  { ._icon(@meditation-guru-white); top: 2px; }
      &.rulerWhite           { ._icon(@ruler-white); top: -1px; }
      &.devLevel             { ._icon(@dev-level); top: 6px; }
    }
    &_label {
      position: relative;
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 32px;
    }
    p {
      font-size: 14px;
      ._proxima_light;
      line-height: 17px;
    }
  }
}
*/
